@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body {
	margin: 0;
	padding: 0 10%;
	background-color: #007aa9;
}
h1 {
	margin: 0;
	padding: 30px;
	text-align: center;
	color: #f6f1ee;
	font-family: 'Indie Flower', cursive;
}
h1 span {
	display: block;
	font-size: 2em;
	font-style: italic;
}

main {
	padding: 2%;
	background-color: #f8f6f9;
}
.works {
	display: flex;
	justify-content: space-between;
}
.works figure {
	margin: 0;
	text-align: center;
	font-size: 1.5em;
	color: #004d6b;
}
.works img {
	width: 100%;
}
footer {
	padding: 2%;
	text-align: center;
	background-color: white;
}
footer a {
	padding: 10px;
}
@media (max-width: 480px) {
	h1 {
		font-size: 1em;
	}
	.works {
		display: block;
	}
}