@import url("https://fonts.googleapis.com/css?family=Indie+Flower&display=swap");

body {
	margin: 0;
	padding: 0 10%;
	background-color: #007aa9;
}
header {
	position: relative;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
h1,
h2 {
	color: #f6f1ee;
	text-align: center;
}
h1 {
	position: relative;
	margin: 0;
	font-family: "Indie Flower", cursive;
}
h1 span {
	display: block;
	font-size: 2em;
	font-style: italic;
}
h1::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 25%;
	width: 50%;
	border-bottom: thick dotted;
}

main {
	position: relative;
	padding: 2%;
	background-color: #f8f6f9;
}
.works {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.works figure {
	text-align: center;
}
.works img {
	width: 100%;
	max-width: 450px;
}
.works figcaption {
	text-align: center;
	font-size: 1.5em;
	color: #004d6b;
}
/* Scotch tape decoration */
main::before, main::after {
	content: "";
	position: absolute;
	top: 0;
	left: -25px;
	width: 100px;
	height: 30px;
	transform-origin: 50% 50%;
	transform: rotate(-35deg);
	background: rgba(255, 255, 200, 0.6);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}
main::after {
	left: auto;
	right: -25px;
	transform: rotate(45deg);
}
footer {
	padding: 2%;
	text-align: center;
	background-color: white;
}
footer a {
	padding: 10px;
}
/* Adaptive */
@media (max-width: 520px) {
	h1 {
		font-size: 1em;
	}
	.works {
		display: block;
	}
}

/* Scroll down effect */

.scroll {
	position: absolute;
	bottom: 0;
	width: 100%;
	opacity: 0;
	transition: opacity 0.3s linear;
}

.scroll div {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%, 0);
	padding-top: 70px;
	color: #f6f1ee;
	font-size: 20px;
	font-family: sans-serif;
	letter-spacing: 0.05em;
	transition: opacity 0.3s;
}
.scroll div span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 1px solid #f6f1ee;
	border-bottom: 1px solid #f6f1ee;
	transform: rotate(-45deg);
	animation: fall 1.5s infinite;
	box-sizing: border-box;
}
.scroll div:hover {
	cursor: default;
}
@keyframes fall {
	0% {
		transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}
/* Scroll down dissapear */
.visible {
	opacity: 1;
}
